.project-card-main {
    display: block;
    border-radius: 10px;
    box-shadow: 13px 13px 6px rgba(0,0,0,0.2);
    padding: 30px;
    margin-bottom: 30px;
    background-color: #212223;
    color: #f1f2f3;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s ease-out;
}
.project-card-main:hover {
    box-shadow: 0 4px 8px rgba(38,38,38,0.2);
    background-color: #4a4b4c;
}
.project-card-main .card-title {
    font-size: 25px;
    font-weight: 500;
}
.project-card-main .card-desc {
    line-height: 1.4;
    margin-top: 30px;
    display: -webkit-inline-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 20px;
    font-weight: 300;
    color: #c1c2c3;
    -webkit-line-clamp: 2;
}

@media screen and (max-width: 1380px) {
    .project-card-main .card-title {
        font-size: 22px;
    }
    .project-card-main .card-desc {
        font-size: 16px;
    }
}