.skill-card-main {
    margin: 0px 10px;
    padding: 20px 30px;
    height: auto;
    color: #c1c2c3;
    text-align: center;
    border-radius: 16px;
    box-shadow: 13px 13px 6px rgba(0, 0, 0, 0.2);
    background-color: #212223;
    height: 140px;
    transition: 0.3s ease-out;
}
.skill-card-main:hover {
    box-shadow: 0 4px 8px rgba(38, 38, 38, 0.2);
}
.skill-card-main .skill-icon {
    font-size: 40px;
}
.skill-card-main .skill-text {
    margin-top: 15px;
    font-size: 22px;
}
.skill-card-main .skill-progress-bar {
    border: 2px solid #c1c2c3;
    height: 16px;
    border-radius: 8px;
    margin-top: 15px;
    font-size: 16px;
}
.skill-card-main .skill-progress-bar span {
    display: block;
    height: 100%;
    background-color: #c1c2c3;
}
.skill-card-main .skill-progress-bar p {
    margin: 10px 0;
}

@media screen and (max-width: 1380px) {
    .skill-card-main .skill-icon {
        font-size: 35px;
    }
    .skill-card-main .skill-text {
        font-size: 20px;
    }
}
