.blog-card {
    display: block;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 36px rgba(0,0,0,0.1);
    padding: 30px;
    margin-bottom: 30px;
    text-decoration: none;
    color: #1f1f1f;
}
.blog-card:hover {
    transition: 0.4s ease-out;
    box-shadow: 0 4px 8px rgba(38,38,38,0.2);
    background-color: #077394;
    color: #ffffff;
}
.blog-card .blog-card-title {
    font-size: 25px;
    font-weight: 500;
}
.blog-card .blog-card-desc {
    margin-top: 20px;
    font-size: 20px;
    color: #888888;
}

@media screen and (max-width: 1380px) {
    .blog-card .blog-card-title {
        font-size: 20px;
    }
    .blog-card .blog-card-desc {
        font-size: 16px;
    }
}